# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [28]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as T
from pyspark.sql import Window

In [2]:
spark = SparkSession.builder \
    .appName('Spark exercises based on pandas exercises') \
    .getOrCreate()

spark

23/03/03 20:41:43 WARN Utils: Your hostname, karlos-300E5M-300E5L resolves to a loopback address: 127.0.1.1; using 192.168.10.20 instead (on interface enp1s0)
23/03/03 20:41:43 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/03 20:41:44 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a variable called crime.

In [23]:
FILEPATH = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv'

crime = spark.read.csv(
    './US_Crime_Rates_1960_2014.csv',
    sep=',',
    header=True,
    inferSchema=True
)

crime.show()

+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
|Year|Population|   Total|Violent|Property|Murder|Forcible_Rape|Robbery|Aggravated_assault|Burglary|Larceny_Theft|Vehicle_Theft|
+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
|1960| 179323175| 3384200| 288460| 3095700|  9110|        17190| 107840|            154320|  912100|      1855400|       328200|
|1961| 182992000| 3488000| 289390| 3198600|  8740|        17220| 106670|            156760|  949600|      1913000|       336000|
|1962| 185771000| 3752200| 301510| 3450700|  8530|        17550| 110860|            164570|  994300|      2089600|       366800|
|1963| 188483000| 4109500| 316970| 3792500|  8640|        17650| 116470|            174210| 1086400|      2297800|       408300|
|1964| 191141000| 4564600| 364220| 4200400|  9360|        21420| 130390|            203050| 1213200|      2514400|       472800|
|1965| 193526000| 4739400| 387390| 4352000|  9960|        23410| 138690|            215330| 1282500|      2572600|       496900|
|1966| 195576000| 5223500| 430180| 4793300| 11040|        25820| 157990|            235330| 1410100|      2822000|       561200|
|1967| 197457000| 5903400| 499930| 5403500| 12240|        27620| 202910|            257160| 1632100|      3111600|       659800|
|1968| 199399000| 6720200| 595010| 6125200| 13800|        31670| 262840|            286700| 1858900|      3482700|       783600|
|1969| 201385000| 7410900| 661870| 6749000| 14760|        37170| 298850|            311090| 1981900|      3888600|       878500|
|1970| 203235298| 8098000| 738820| 7359200| 16000|        37990| 349860|            334970| 2205000|      4225800|       928400|
|1971| 206212000| 8588200| 816500| 7771700| 17780|        42260| 387700|            368760| 2399300|      4424200|       948200|
|1972| 208230000| 8248800| 834900| 7413900| 18670|        46850| 376290|            393090| 2375500|      4151200|       887200|
|1973| 209851000| 8718100| 875910| 7842200| 19640|        51400| 384220|            420650| 2565500|      4347900|       928800|
|1974| 211392000|10253400| 974720| 9278700| 20710|        55400| 442400|            456210| 3039200|      5262500|       977100|
|1975| 213124000|11292400|1039710|10252700| 20510|        56090| 470500|            492620| 3265300|      5977700|      1009600|
|1976| 214659000|11349700|1004210|10345500| 18780|        57080| 427810|            500530| 3108700|      6270800|       966000|
|1977| 216332000|10984500|1029580| 9955000| 19120|        63500| 412610|            534350| 3071500|      5905700|       977700|
|1978| 218059000|11209000|1085550|10123400| 19560|        67610| 426930|            571460| 3128300|      5991000|      1004100|
|1979| 220099000|12249500|1208030|11041500| 21460|        76390| 480700|            629480| 3327700|      6601000|      1112800|
+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
only showing top 20 rows

### Step 4. What is the type of the columns?

In [24]:
crime.dtypes

[('Year', 'int'),
 ('Population', 'int'),
 ('Total', 'int'),
 ('Violent', 'int'),
 ('Property', 'int'),
 ('Murder', 'int'),
 ('Forcible_Rape', 'int'),
 ('Robbery', 'int'),
 ('Aggravated_assault', 'int'),
 ('Burglary', 'int'),
 ('Larceny_Theft', 'int'),
 ('Vehicle_Theft', 'int')]

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [25]:
crime = crime.withColumn(
    'year',
    F.to_date('year', 'y')
)

print(crime)
crime.show()

DataFrame[year: date, Population: int, Total: int, Violent: int, Property: int, Murder: int, Forcible_Rape: int, Robbery: int, Aggravated_assault: int, Burglary: int, Larceny_Theft: int, Vehicle_Theft: int]
+----------+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
|      year|Population|   Total|Violent|Property|Murder|Forcible_Rape|Robbery|Aggravated_assault|Burglary|Larceny_Theft|Vehicle_Theft|
+----------+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
|1960-01-01| 179323175| 3384200| 288460| 3095700|  9110|        17190| 107840|            154320|  912100|      1855400|       328200|
|1961-01-01| 182992000| 3488000| 289390| 3198600|  8740|        17220| 106670|            156760|  949600|      1913000|       336000|
|1962-01-01| 185771000| 3752200| 301510| 3450700|  8530|        17550| 110860|            164570|  994300|      2089600|       366800|
|1963-01-01| 188483000| 4109500| 316970| 3792500|  8640|        17650| 116470|            174210| 1086400|      2297800|       408300|
|1964-01-01| 191141000| 4564600| 364220| 4200400|  9360|        21420| 130390|            203050| 1213200|      2514400|       472800|
|1965-01-01| 193526000| 4739400| 387390| 4352000|  9960|        23410| 138690|            215330| 1282500|      2572600|       496900|
|1966-01-01| 195576000| 5223500| 430180| 4793300| 11040|        25820| 157990|            235330| 1410100|      2822000|       561200|
|1967-01-01| 197457000| 5903400| 499930| 5403500| 12240|        27620| 202910|            257160| 1632100|      3111600|       659800|
|1968-01-01| 199399000| 6720200| 595010| 6125200| 13800|        31670| 262840|            286700| 1858900|      3482700|       783600|
|1969-01-01| 201385000| 7410900| 661870| 6749000| 14760|        37170| 298850|            311090| 1981900|      3888600|       878500|
|1970-01-01| 203235298| 8098000| 738820| 7359200| 16000|        37990| 349860|            334970| 2205000|      4225800|       928400|
|1971-01-01| 206212000| 8588200| 816500| 7771700| 17780|        42260| 387700|            368760| 2399300|      4424200|       948200|
|1972-01-01| 208230000| 8248800| 834900| 7413900| 18670|        46850| 376290|            393090| 2375500|      4151200|       887200|
|1973-01-01| 209851000| 8718100| 875910| 7842200| 19640|        51400| 384220|            420650| 2565500|      4347900|       928800|
|1974-01-01| 211392000|10253400| 974720| 9278700| 20710|        55400| 442400|            456210| 3039200|      5262500|       977100|
|1975-01-01| 213124000|11292400|1039710|10252700| 20510|        56090| 470500|            492620| 3265300|      5977700|      1009600|
|1976-01-01| 214659000|11349700|1004210|10345500| 18780|        57080| 427810|            500530| 3108700|      6270800|       966000|
|1977-01-01| 216332000|10984500|1029580| 9955000| 19120|        63500| 412610|            534350| 3071500|      5905700|       977700|
|1978-01-01| 218059000|11209000|1085550|10123400| 19560|        67610| 426930|            571460| 3128300|      5991000|      1004100|
|1979-01-01| 220099000|12249500|1208030|11041500| 21460|        76390| 480700|            629480| 3327700|      6601000|      1112800|
+----------+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
only showing top 20 rows

### Step 6. Set the Year column as the index of the dataframe

In [26]:
# It does not make sense in Spark data model.

### Step 7. Delete the Total column

In [27]:
crime.drop('Total')

DataFrame[year: date, Population: int, Violent: int, Property: int, Murder: int, Forcible_Rape: int, Robbery: int, Aggravated_assault: int, Burglary: int, Larceny_Theft: int, Vehicle_Theft: int]

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [70]:
crime_aggregate_by_decade = crime \
    .withColumn(
        'Decade',
        F.floor(F.year('Year') / 10) * 10
    ).groupBy('Decade') \
    .agg(
        {column: 'sum' for column in crime.columns if column not in ('year', 'Population')}
    )

crime_aggregate_by_decade

DataFrame[Decade: bigint, sum(Larceny_Theft): bigint, sum(Aggravated_assault): bigint, sum(Burglary): bigint, sum(Total): bigint, sum(Vehicle_Theft): bigint, sum(Murder): bigint, sum(Robbery): bigint, sum(Violent): bigint, sum(Property): bigint, sum(Forcible_Rape): bigint]

In [71]:
crime_aggregate_by_decade.select(
        'Decade',
        'sum(Total)',
        'sum(Murder)',
        'sum(Violent)',
        'sum(Robbery)'
    ).orderBy('Decade') \
    .show()

+------+----------+-----------+------------+------------+
|Decade|sum(Total)|sum(Murder)|sum(Violent)|sum(Robbery)|
+------+----------+-----------+------------+------------+
|  1960|  49295900|     106180|     4134930|     1633510|
|  1970| 100991600|     192230|     9607930|     4159020|
|  1980| 131123369|     206439|    14074328|     5383109|
|  1990| 136582146|     211664|    17527048|     5748930|
|  2000| 115012044|     163068|    13968056|     4230366|
|  2010|  50167967|      72867|     6072017|     1749809|
+------+----------+-----------+------------+------------+

### Step 9. What is the most dangerous decade to live in the US?

In [72]:
# According to Total:

crime_aggregate_by_decade.select('Decade', 'sum(total)') \
    .orderBy('sum(total)', ascending=False) \
    .show()

+------+----------+
|Decade|sum(total)|
+------+----------+
|  1990| 136582146|
|  1980| 131123369|
|  2000| 115012044|
|  1970| 100991600|
|  2010|  50167967|
|  1960|  49295900|
+------+----------+